<%- include('partials/header') -%>

<h1>Teams page</h1>

<div class='inputsContainer'>
    <input id='franchiseName' type="text">
    <button id="getTeams">Get your teams</button>
</div>

<script src="js/getTeams.js"></script>